{% block content %}
    {% load static %}
    <audio controls autoplay>
        <source src="{{ static 'global/sound.mp3' }}" >
    </audio>

    <p>{% text %}</p>
    <p></p>

    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
        {% for figure in ordered_figures %}
            <div style="text-align: center; flex: 1 0 20%;">
                <img src="{% static figure %}" alt="Figure {{ forloop.counter }}" width="256" height="256">
                <p>Fig. {{ forloop.counter }}</p>
            </div>
        {% endfor %}
    </div>

    {{ chat }}
    
    {{ formfields }}

{{ endblock }}
